// Import Bulma's core
@import './../node_modules/bulma/sass/utilities/_all.sass';

// Set your colors
$progress: #00A7E1;
$progress-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "progress": ($progress, $progress-invert)
);

// Import Bulma and Buefy styles
@import './../node_modules/bulma/bulma.sass';
@import './../node_modules/buefy/src/scss/buefy.scss';